@model IEnumerable<CategoryViewModel>
@using NLayerApp.WEB.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/wwwroot/css/bootstrap-theme.css" rel="stylesheet" type="text/css" />


@foreach (var p in Model)
{
    <div class="col-lg-4">

        <h3>
            @Html.DisplayFor(modelP => p.Name)
        </h3>

        @*<button type="button" class="btn btn-default"> @Html.ActionLink("Category", "Menu", new { id = p.Id })</button>*@

    </div>
}


